.conatiner {
    height:800px;
    width:719px;
    background-color: plum;
    display:grid;
    grid-gap:10px;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
}

.header {
    grid-column:1/13;
    background-color:black;
    color:white;
    text-align:center;
}

.sidebar {
    grid-column:1/4;
    grid-row:2/12;
    background-color:black;
    color:white;
    text-align:center;
}

.navigation {
    grid-column:4/10;
    background-color:black;
    color:white;
    text-align:center;
}

.ads {
    grid-row:2/12;
    grid-column:10/13;
    background-color:black;
    color:white;
    text-align:center;
}

.main {
    grid-column:4/10;
    grid-row:3/12;
    background-color:black;
    color:white;
    text-align:center;
}

.footer {
    grid-column:1/13;
    background-color:black;
    color:white;
    text-align:center;
}

@media (max-width: 720px) { 
    .header { 
        grid-column: 1 / span 12; 
    }

    .navigation { 
        grid-column: 1 / span 12; 
        grid-row: 2; 
    }

    .sidebar { 
        grid-column: 1 / span 3; 
        grid-row: 3 / span 9; 
    }

    .main { 
        grid-column: 4 / span 9; 
        grid-row: 3 / span 9; 
    }

    .ads { 
        grid-column: 1 / span 3; 
        grid-row: 12; 
    }

    .footer {
        grid-column: 4 / span 9; 
        grid-row: 12; 
    } 
}