.card {
    width:400px;
    border:2px solid black;
    padding:10px;
    margin:10px;
    border-radius:25px;
}

img {
    width:100%;
    border-radius:25px;
}

h2 {
    color:orangered;
}

h4 {
    text-align: right;
    color: #3c787e;
}

span {
    color: #9d6f24;
}

#pets {
    display:flex;
    justify-content:space-evenly;
}

@media(max-width:375px) {
    #pets {
        flex-wrap:wrap;
    }
}